.form-container{
    background-color: pink;
    padding: 1rem;
    margin-top: 6rem;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.315);
}

input[type=range]:hover{
    cursor: pointer;
}
input[type=range]:focus{
    cursor: grab;
}