
.card{
    padding: 1rem;
    margin-top: 6rem;
    /* width: 10px; */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.315);
   border-radius: 10px;
    background-color: rgb(116, 156, 209);
}
.delete-btn, .coplemte-btn{
   margin-left:300px;
   margin-bottom: 5px;
}
